.contact__form {
    margin: 120px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 450px;
    width: 65%;
}