.our-team__social-net {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: transform .5s ease-out;

    &:hover {
        transform: translateX(10px);
    }
}