.main__title {
    color: #ffffff;
    font-family: "Merriweather";
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    transform: scale(0);
    animation: main__title-animation 1s ease .5s forwards;
}

@keyframes main__title-animation {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}