.logo {
    color: #616161;
    font-family: "Wisdom Script";
    font-size: 35px;
    transition: color .5s ease;

    &::first-letter { 
        color: #fc5f45;
    }

    &:hover {
		color: #fc5f45;
		
        &::first-letter {
            color: #616161;
        }
    }
}