.portfolio__item {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 30%;
    max-height: 338px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.portfolio__item-rotate {
    .portfolio__front-side {
        transition: transform .3s linear;
        transform: perspective(1000px) rotateY(-90deg);
    }

    .portfolio__back-side {
        transition: transform .3s linear .3s;
        transform: perspective(1000px) rotateY(0deg);
    }
}

.portfolio__item-rotate-back {
    .portfolio__front-side {
        transition: transform .3s linear .3s;
        transform: perspective(1000px) rotateY(0);
    }

    .portfolio__back-side {
        transition: transform .3s linear;
        transform: perspective(1000px) rotateY(90deg);
    }
}