.blog__post-img {
    height: 0%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: height 1s cubic-bezier(0.7, -0.3, 0.32, 0.58);
}