@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

* {
    font-family: "Century Gothic";
    font-weight: 400;
}

a:hover, a {
    text-decoration: none;
    color: unset;
}

.container {
    width: 1140px;   
    margin: 0 auto;
}

// <---------------- Blocks ---------------->
@import "button/button";

@import "button/_red/button_red";
@import "button/_green/button_green";
@import "button/_purple/button_purple";
@import "button/_no-bg/button_no-bg";

@import "button/_subscribe/button_subscribe";

@import "logo/logo";
@import "logo/_footer/logo_footer";

@import "numeration/numeration";
@import "numeration/_positioned/numeration_positioned";
@import "numeration/_angular/numeration_angular";
@import "numeration/_bright/numeration_bright";

@import "title/title";
@import "title/_off-center/title_off-center";
@import "title/_white/title_white";

@import "subtitle/subtitle";
@import "subtitle/_white/subtitle_white";

@import "card/card";

@import "card/_red/card_red";
@import "card/_green/card_green";
@import "card/_purple/card_purple";
@import "card/_orange/card_orange";

@import "card/_personal/card_personal";
@import "card/_wide/card_wide";
@import "card/_empty/card_empty";
@import "card/_pricing/card_pricing";

@import "card/_type/card_type_post";
@import "card/_type/card_type_post_expanded";
// <---------------- Blocks ---------------->

// <---------------- Main section ----------------> 
@import "header/header";
@import "header/__menu/header__menu";
@import "header/__menu-item/header__menu-item";
@import "header/__logo/header__logo";
@import "header/__navigation/header__navigation";

@import "main/main";   
@import "main/__button/main__button";

@import "main/__offer/main__offer";
@import "main/__offer-item/main__offer-item";

@import "main/__offer-text/main__offer-text";
@import "main/__offer-text/_green/main__offer-text_green";
@import "main/__offer-text/_orange/main__offer-text_orange";
@import "main/__offer-text/_purple/main__offer-text_purple";

@import "main/__title/main__title";
// <---------------- Main section ----------------> 

// <---------------- About us section ----------------> 
@import "about-us/about-us";
@import "about-us/__img/about-us__img";
@import "about-us/__container/about-us__container";
@import "about-us/__content/about-us__content";
@import "about-us/__numeration/about-us__numeration";
@import "about-us/__text/about-us__text";
// <---------------- About us section ----------------> 

// <---------------- Our Focus section ----------------> 
@import "our-focus/our-focus";
@import "our-focus/__cards/our-focus__cards";
@import "our-focus/__card-icon/our-focus__card-icon";

@import "our-focus/__card-title/our-focus__card-title";
@import "our-focus/__card-title/_mt-23-px/our-focus__card-title_mt-23-px";
@import "our-focus/__card-title/_mt-29-px/our-focus__card-title_mt-29-px";

@import "our-focus/__card-text/our-focus__card-text";
// <---------------- Our Focus section ----------------> 

// <---------------- Explore our awesomeness ----------------> 
@import "awesomeness/awesomeness.scss";
@import "awesomeness/__content/awesomeness__content";
@import "awesomeness/__title/awesomeness__title";
@import "awesomeness/__icon/awesomeness__icon";
@import "awesomeness/__inscription/awesomeness__inscription";
@import "awesomeness/__video/awesomeness__video";
// <---------------- Explore our awesomeness ----------------> 

// <---------------- Portfolio ----------------> 
@import "portfolio/portfolio";
@import "portfolio/__items/portfolio__items";
@import "portfolio/__item/portfolio__item";

@import "portfolio/__item-front-side/portfolio__front-side";
@import "portfolio/__img/portfolio__img";
@import "portfolio/__item-name/portfolio__item-name";

@import "portfolio/__back-side/portfolio__back-side";
@import "portfolio/__item-name/_white/portfolio__item-name_white";
@import "portfolio/__divider/portfolio__divider";
@import "portfolio/__item-desc/portfolio__item-desc";
@import "portfolio/__item-link/portfolio__item-link";
@import "portfolio/__back/portfolio__back";
// <---------------- Portfolio ---------------->

// <---------------- Our team ---------------->
@import "our-team/our-team";
@import "our-team/__cards/our-team__cards";
@import "our-team/__img/our-team__img";

@import "our-team/__name/our-team__name";
@import "our-team/__name/_red/our-team__name_red";
@import "our-team/__name/_green/our-team__name_green";
@import "our-team/__name/_purple/our-team__name_purple";
@import "our-team/__name/_orange/our-team__name_orange";

@import "our-team/__desc/our-team__desc";
@import "our-team/__comment/our-team__comment";
@import "our-team/__triangle/our-team__triangle";
@import "our-team/__block/our-team__block";
@import "our-team/__comment-title/our-team__comment-title";

@import "our-team/__message-content/our-team__message-content";
@import "our-team/__message-text/our-team__message-text";
@import "our-team/__message-social/our-team__message-social";

@import "our-team/__divider/our-team__divider";

@import "our-team/__social-net/our-team__social-net";
@import "our-team/__social-nets/our-team__social-nets";
@import "our-team/__social-net-name/our-team__social-net-name";
// <---------------- Out team ---------------->

// <---------------- Stats ---------------->
@import "stats/stats";
@import "stats/__items/stats__items";
@import "stats/__item/stats__item";
@import "stats/__name/stats__name";
@import "stats/__number/stats__number";
@import "stats/__icon/stats__icon";

@import "stats/__circle/stats__circle";
@import "stats/__circle/_red/stats__circle_red";
@import "stats/__circle/_green/stats__circle_green";
@import "stats/__circle/_purple/stats__circle_purple";
@import "stats/__circle/_orange/stats__circle_orange";

@import "stats/__dot/stats__dot";
@import "stats/__dot/_red/stats__dot_red";
@import "stats/__dot/_green/stats__dot_green";
@import "stats/__dot/_purple/stats__dot_purple";
@import "stats/__dot/_orange/stats__dot_orange";
// <---------------- Stats ---------------->

// <---------------- Work Stepts ---------------->
@import "work-steps/work-steps";
@import "work-steps/__cards/work-steps__cards";
@import "work-steps/__numeration/work-steps__numeration";
@import "work-steps/__line/work-steps__line";
@import "work-steps/__card-title/work-steps__card-title";
@import "work-steps/__card-text/work-steps__card-text";
@import "work-steps/__content/work-steps__content";
// <---------------- Work Stepts ---------------->

// <---------------- Pricing ---------------->
@import "pricing/pricing";
@import "pricing/__bold-text/pricing__bold-text";
@import "pricing/__card-title/pricing__card-title";
@import "pricing/__cards/pricing__cards";

@import "pricing/__circle/pricing__circle";
@import "pricing/__circle/_border/pricing__circle_border_green";
@import "pricing/__circle/_border/pricing__circle_border_purple";
@import "pricing/__circle/_border/pricing__circle_border_red";

@import "pricing/__item/pricing__item";
@import "pricing/__list/pricing__list";

@import "pricing/__price/pricing__price";
@import "pricing/__price/_bg/pricing__price_bg_green";
@import "pricing/__price/_bg/pricing__price_bg_purple";
@import "pricing/__price/_bg/pricing__price_bg_red";

@import "pricing/__button/pricing__button";
// <---------------- Pricing ---------------->

// <---------------- Testimonials ---------------->
@import "testimonials/testimonials";
@import "testimonials/__container-hiding/testimonials__container-hiding";

@import "testimonials/__item-author/testimonials__item-author";

@import "testimonials/__item-content/testimonials__item-content";
@import "testimonials/__item-content/_border/testimonials__item-content_border_red";
@import "testimonials/__item-content/_border/testimonials__item-content_border_green";
@import "testimonials/__item-content/_border/testimonials__item-content_border_purple";
@import "testimonials/__item-content/_border/testimonials__item-content_border_orange";

@import "testimonials/__item-img/testimonials__item-img";
@import "testimonials/__item-sign/testimonials__item-sign";
@import "testimonials/__item-text/testimonials__item-text";

@import "testimonials/__red-text/testimonials__red-text";

@import "testimonials/__slider-dot/testimonials__slider-dot";
@import "testimonials/__slider-dot/_active/testimonials__slider-dot_active";

@import "testimonials/__slider-dots/testimonials__slider-dots";
@import "testimonials/__slider-item/testimonials__slider-item";
@import "testimonials/__slider/testimonials__slider";
// <---------------- Testimonials ---------------->\

// <---------------- Why Select Us ---------------->
@import "advantages/advantages";
@import "advantages/__content/advantages__content";
@import "advantages/__item-header/advantages__item-header";
@import "advantages/__item-icon/advantages__item-icon";
@import "advantages/__item-text/advantages__item-text";
@import "advantages/__item-title/advantages__item-title";
@import "advantages/__item/advantages__item";
@import "advantages/__offer-text/advantages__offer-text";
@import "advantages/__offer/advantages__offer";
// <---------------- Why Select Us ---------------->

// <---------------- Blog ---------------->
@import "blog/__post-author/blog__post-author";
@import "blog/__post-date/blog__post-date";
@import "blog/__post-details/blog__post-details";
@import "blog/__post-img/blog__post-img";
@import "blog/__post-link/blog__post-link";
@import "blog/__post-quotes/blog__post-quotes";
@import "blog/__post-text/blog__post-text";
@import "blog/__post-title/blog__posts-title";
@import "blog/__posts/blog__posts";
@import "blog/__post-content/blog__post-content";
@import "blog/blog";
// <---------------- Blog ---------------->

// <---------------- Subscription ---------------->
@import "subscription/__form/subscription__form";
@import "subscription/__input/subscription__input";
@import "subscription/__title/subscription__title";
@import "subscription/__form/subscription__form";
@import "subscription/subscription";
// <---------------- Subscription ---------------->

// <---------------- Contact & Footer---------------->
@import "contact/__form/contact__form";
@import "contact/__message/contact__message";
@import "contact/__button/contact__button";

@import "contact/__field/contact__field";
@import "contact/__field/_big/contact__field_big";

@import "contact/contact";

// Footer

@import "footer/__address/footer__address";
@import "footer/__icon/footer__icon";
@import "footer/__links/footer__links";

@import "footer/__item-title/footer__item-title";
@import "footer/__item-title/_color/footer__item-title_color_green";
@import "footer/__item-title/_color/footer__item-title_color_purple";
@import "footer/__item-title/_color/footer__item-title_color_orange";

@import "footer/__item/footer__item";
@import "footer/footer";
// <---------------- Contact & Footer ---------------->