@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

* {
    font-family: "Century Gothic";
    font-weight: 400;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1140px;   
    margin: 0 auto;
}
// <---------------- Blocks ---------------->
@import "button/button.scss";
@import "logo/logo";
@import "numeration/numeration";
@import "title/title";
// <---------------- Blocks ---------------->

// <---------------- Main section ----------------> 
@import "header/header";
@import "header/__menu/header__menu";
@import "header/__menu-item/header__menu-item";

@import "main/main";   
@import "main/__button/main__button";
@import "main/__offer/main__offer";
@import "main/__offer-item/main__offer-item";
@import "main/__offer-text/main__offer-text";
@import "main/__offer-text/_green/main__offer-text_green";
@import "main/__offer-text/_orange/main__offer-text_orange";
@import "main/__offer-text/_purple/main__offer-text_purple";
@import "main/__title/main__title";
// <---------------- Main section ----------------> 

// <---------------- About us section ----------------> 
@import "about-us/about-us.scss";
@import "about-us/__img/about-us__img";
@import "about-us/__container/about-us__container.scss";
@import "about-us/__content/about-us__content.scss";
@import "about-us/__descr/about-us__descr.scss";
@import "about-us/__text/about-us__text.scss";
@import "about-us/__color-stripes/about-us__color-stripes.scss";
@import "about-us/__color-stripe/about-us__color-stripe.scss";
@import "about-us/__color-stripe/_green/about-us__color-stripe_green.scss";
@import "about-us/__color-stripe/_orange/about-us__color-stripe_orange.scss";
@import "about-us/__color-stripe/_purple/about-us__color-stripe_purple.scss";
@import "about-us/__color-stripe/_yellow/about-us__color-stripe_yellow.scss";
// <---------------- About us section ----------------> 
