.testimonials__slider-dots {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100px;
    position: absolute;
    right: 15px;
    bottom: 25px;
}