.testimonials__slider-dot_active {
    & div {
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }

    &:nth-child(1) {
        div {
            background-color: #fc5f45;
        }

        & {
            border-color: #fc5f45;
        }
    }

    &:nth-child(2) {
        div {
            background-color: #38c695;
        }
        
        & {
            border-color: #38c695;
        }
    }

    &:nth-child(3) {
        div {
            background-color: #b27cf5;
        }
        
        & {
            border-color: #b27cf5;
        }
    }

    &:nth-child(4) {
        div {
            background-color: #feb960;
        }
        
        & {
            border-color: #feb960;
        }
    }
}