.card_wide {
    width: 458px;
    height: 300px;
    min-height: unset;
    padding: 25px 60px 0px 25px;
    background-color: #fff;

    &:hover {
        animation: card_wide-animation .2s linear;
    }
}

@keyframes card_wide-animation {
    from {
        transform: translate(0) rotateZ(0);
    }

    50% {
        transform: translateX(5px) rotateZ(2deg);
    }

    to {
        transform: initial;
    }

}